.scroll-menu {
  position: fixed;
  top: 56px;
  padding: 11px 12px;
  width: 100%;
  height: 49px;

  overflow: auto;
  white-space: nowrap;
  z-index: 1;

  background-color: #42596b;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.scroll-menu button {
  display: inline-block;
  padding: 3px 15px;
  margin: 0px 12px 0px 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;

  background-color: #8997A3;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  color: #000000;
  border: none;
  border-radius: 15px;
}

.scroll-menu button.active {
  background-color: #ffffff;
  transition: background-color 0.3s ease-out;
}

.scroll-menu button:focus-visible {
  outline: auto rgb(0, 95, 204) 1px;
}

@media only screen and (min-width: 601px) {
  .scroll-menu {
    top: 64px;
  }
}
