.order-wrapper {
    padding: 12px;
  }
  
  .order-category-wrapper {
    padding: 24px 0px 0px 0px;
  }

  .order-card {
    border-radius: 15px;
    padding: 15px 12px;
  
    background: #1c6e8c;
  }
  