#checkout-wrapper {
  padding-bottom: 60px;
}

#checkout-wrapper #message-wrapper {
  text-align: center;
}

#checkout-wrapper #circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 20vh auto 20px auto;
  width: 200px;
  height: 200px;

  border-radius: 100%;
  background-color: #42596b;
}

#checkout-wrapper #empty-cart-message {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}

#checkout-wrapper #cart-icon {
  transform: translate(-8px, 6px);
  display: block;

  color: #c4c4c4;
}

#checkout-wrapper #total-wrapper {
  position: fixed;
  bottom: 0;
  padding: 12px 12px;
  width: 100%;
}

#checkout-wrapper #checkout-submit {
  padding: 12px;
  border: none;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  z-index: 1;
  color: #ffffff;
  background-color: #da9553;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  cursor: pointer;
}

#checkout-wrapper #checkout-submit:focus {
  background-color: #bf8249;
}

#toast-container {
  bottom: 12px;
  left: 12px;
  right: auto;
  top: auto;
}

.toast {
  display: inline-block;
  padding: 12px;
  border: none;
  border-radius: 7px;
  max-width: calc(100vw - 24px);

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.checkout-confirmation {
  background: #45d363;
}

.checkout-err {
  background: #d36345;
}
