.menu-item-card {
  border-radius: 15px;
  padding: 15px 12px;

  background: #1c6e8c;
}

.menu-item-image {
  height: 128px;
  border-radius: 15px;
}

.menu-item-content {
  padding: 0px 0px 0px 12px;
  width: 100%;
  position: relative;
}

.menu-item-title {
  display: inline;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;

  color: #ffffff;
}

.menu-item-description {
  display: inline;

  white-space: pre-line;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 21px;

  color: #EFEFEF;
}

.menu-item-price {
  display: block;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  color: #ffffff;
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  color: #c7d6d5;
}

.menu-item-description::before {
  content: "\A ";
}

.inline-spacer {
  content: " ";
  line-height: 28px;
}

.menu-item-price-row {
  position: absolute;
  bottom: 0px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-right: 12px;
  width: calc(100% - 12px);
}

.menu-item-card:hover,
.menu-item-card:active {
  background-color: #1c6e8c90;
}
