#toast-container {
  bottom: 12px;
  left: 12px;
  right: auto;
  top: auto;
}

.toast {
  display: inline-block;
  padding: 12px;
  border: none;
  border-radius: 7px;
  max-width: calc(100vw - 24px);

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.toast-green {
  background: #45d363;
}

.toast-red {
  background: #d36345;
}
