nav {
  background-color: #d68c45;
}

nav .nav-link {
  margin-left: 5%;
  margin-right: 5%;
}

nav .brand-logo {
  padding: 2px 0px 0px 0px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: min(5vw, 22px);

  color: #ffffff;
}
